<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-sm-4 form-box">
    <p class="text-right">
      <%= link_to fa_icon('plus', text: 'Add Task'), new_user_task_path, remote: true, class: 'btn btn-primary' %>
    </p>

    <div id="task-form"></div>
  </div>

  <div class="col-sm-8">
    <h2>My Tasks</h2>
    <div id="tasks">
      <%= render @user_tasks %>
    </div>
  </div>

</div>



